[alias]
	s = status -s
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    rn = log --format=format:'* %s %C(bold yellow)%d'
    b = branch -avv
    tagv = tag -l -n9
    up = "!bash -c 'git checkout master && git pull upstream master; \
         ([[ $(git branch --list uat) ]] && git checkout uat && git pull upstream uat \
         && [[ $(git branch --list dev) ]] && git checkout dev && git pull upstream dev); \
         git push --all github && git fetch --tags upstream'"
[user]
	email = kris.harper@stoneridgeam.com
	name = Kris Harper
[diff]
	tool = bc3
[difftool]
	bc3 = trustExitCode
	prompt = false
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
	prompt = false
[core]
	excludesfile = ~/.gitignore
	whitespace = cr-at-eol
[push]
	followTags = true
	default = simple
[pull]
	rebase = true
