[alias]
	s = status -s
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    b = branch -av
    tagv = tag -l -n9
[user]
	email = kris.p.harper@gmail.com
	name = Kris Harper
[diff]
	tool = bc3
[difftool]
	bc3 = trustExitCode
	prompt = false
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
	prompt = false
[core]
	excludesfile = ~/.gitignore
	whitespace = cr-at-eol
[push]
	followTags = true
	default = simple
[pull]
	rebase = true
