.Xauthority
.adobe
.bash_history
.cache
.config/chromium/*
.config/pulse/*
.config/Trolltech.conf
.config/dconf/*
.config/transmission/*
.config/vlc/*
.dbus
.lesshst
.local
.macromedia
.pki
.ssh/*
.viminfo
Documents
Downloads

