URxvt*.scrollBar:	false

URxvt*font:         xft:Source Code Pro for Powerline:pixelsize=10:hinting=true,xft:Source Code Pro:pixelsize=10:hinting=true
!URxvt*font:         xft:Inconsolata for Powerline:pixelsize=13:hinting=true,xft:Inconsolata:pixelsize=13:hinting=true
!URxvt*font:         xft:Inconsolata for Powerline-8
URxvt*xftAntialias: true

URxvt*.letterSpace: -2

URxvt*.depth:	32
URxvt*background: [80]#3F3F3F
URxvt*foreground: #DCDCCC

URxvt*cursorColor: #AAAAAA

URxvt*colorUL: #366060
URxvt*underlineColor: #DFAF8F

URxvt*color0: #3F3F3F
URxvt*color1: #CC9393
URxvt*color2: #313E5E
URxvt*color3: #D0BF8F
URxvt*color4: #6CA0A3
URxvt*color5: #DC8CC3
URxvt*color6: #93E0E3
URxvt*color7: #DCDCCC
URxvt*color8: #000000
URxvt*color9: #DCA3A3
URxvt*color10: #BFEBBF
URxvt*color11: #F0DFAF
URxvt*color12: #8CD0D3
URxvt*color13: #DC8CC3
URxvt*color14: #93E0E3
URxvt*color15: #FFFFFF
